//main-container全局样式
.app-container {
    padding: 20px 20px 45px 20px;
    height: 80%;
    color: red;
  }
  
  .components-container {
    margin: 30px 50px;
    position: relative;
  }
  
  .pagination-container {
    margin-top: 30px;
  }
  
  .text-center {
    text-align: center
  }